@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 33 33;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 34 91% 68%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;
  }

  :is(.dark) {
    --card: 340 85.7% 95.9%;
    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;

  }

}

@layer base {
  html {
    position: relative;
  }

  .slowmo {
    @apply transition-all duration-150;
  }

  .page {
    @apply p-6;
  }

  .links {
    @apply hover:bg-foreground slowmo flex-center flex-between text-sm py-3 px-4 font-bold cursor-pointer rounded text-zinc-500;
  }

  .custom-input {
    @apply bg-transparent h-full outline-none focus:outline-none placeholder:text-sm;
  }

  .custom-input-parent {
    @apply border rounded px-2 flex-1;
  }

  .custom-button {
    @apply rounded w-fit outline-none focus:outline-none px-3 py-1 bg-background text-white hover:bg-background/90 slowmo opacity-100 text-xs cursor-pointer;
  }

  .cropper-container {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .tableSize {
    max-width: 400px !important;
    overflow-x: auto !important;
  }

  .zoom-range {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 2px;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    background: #3f51b5;
    width: 100%;
  }

  .single-item {
    @apply relative flex select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors data-[disabled]:pointer-events-none data-[disabled]:opacity-50 cursor-pointer;
  }

  .zoom-range::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .zoom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #3f51b5;
    background: #3f51b5;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .controls:hover input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    border-radius: 50%;
  }

  .controls:hover input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
  }

  .reactEasyCrop_Container {
    position: relative !important;
  }

  .sheet {
    height: calc(100vh - 136px) !important;
  }

  .truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .truncate-text_two {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .messages {
    height: calc(100vh - 196px);
  }

  .children {
    height: calc(100vh - 56px);
    @apply lg:pb-0 pb-20;
  }

  .flex-center {
    @apply flex items-center;
  }

  .flex-between {
    @apply flex justify-between;
  }

  .padding-x {
    @apply lg:px-[100px] px-20;
  }

  .race label {
    @apply text-background;
  }

  .content {
    min-height: calc(100vh - 160px);
  }

  .center {
    @apply flex items-center justify-center;
  }

  .invite_left {
    @apply flex flex-col gap-2 flex-1;
  }

  .invite_left h2 {
    @apply text-sm font-medium;
  }

  .invite_left p {
    @apply text-xs;
  }

  .text_sm {
    @apply font-semibold text-2xl;
  }

  .flexcol {
    @apply flex flex-col;
  }

  .input_textarea {
    height: 120px !important;
    resize: none;
  }

  .box {
    box-shadow: 2px 2px 2px #ccc;
    @apply border-2 border-zinc-500/25;
  }

  .blog_post > h1 {
    @apply font-bold;
  }

  .list {
    list-style: disc !important;
  }
}

ul {
  list-style-type: initial !important;
}

textarea {
  resize: none;
}
